
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Victropolis</title>
        <nav>
            <div>
                <a href="/">Home</a>
                <a href="/about">About</a>   
                <a href="/blog">Blog</a>         
            </div>
        </nav>
	</head>
	<body>
        
		<h1>Blog</h1>
        <h2>Here I'll be writing my experience with Astro :p</h2>
		<p>I'm getting familiarized with Astro, all cool for now</p>
	</body>
</html>
	