---
import BaseLayout from '../layouts/BaseLayout.astro';
const pagetitle = "Ppagina de iniciOOOOOOOOOOo";
---

<BaseLayout pageTitle = {pagetitle}>
	<div class="title">
		<h1>
			third year Software Development student at Technological University of Panama
		</h1>
	</div>

  <h2>Mi impresionante subtítulo del blog</h2>
  
</BaseLayout>
