---
import Navigation from './Nagivation.astro'
import Hamburger from './Hamburger.astro'
---
<header>
    <nav>
        <Hamburger />
        <Navigation />    
    </nav>
</header>
<!-- 
<style>
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px;
       
    }
</style>

-->
