---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`} class=`"${platform}""`>{platform}</a>

<style>
    a{
        padding: 0.5rem 1rem;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
    }
    a:hover{
        background-color: #2d006f;
    }
    
</style>